/*
=============================================================
Entire card
=============================================================
*/

.arrayCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 70rem;
  background-color: var(--white);
  border-radius: var(--space-10);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
=============================================================
Headers
=============================================================
*/

.arrayCard__header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--space-1) dotted var(--slate-800);
  padding: var(--space-6) var(--space-16);
}

.arrayCard__h4 {
  font-weight: 600;
  letter-spacing: var(--space-1);
}

/*
=============================================================
Button
=============================================================
*/

.arrayCard__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0.4rem;
  transition: background-color 0.3s ease;
}

.arrayCard__button--circle {
  border-radius: 50%;
}

.arrayCard__button--rounded {
  border-radius: 0.8rem;
}

.arrayCard__button--size-md {
  padding: 1.2rem;
}

.arrayCard__button--primary {
  color: inherit;
  background-color: transparent;
}

.arrayCard__button--primary:hover {
  color: var(--indigo-500);
  background-color: var(--slate-200);
}

.arrayCard__button--primary:active {
  color: var(--indigo-100);
  background-color: var(--indigo-500);
}

.arrayCard__button--secondary {
  color: var(--indigo-500);
  background-color: var(--slate-200);
}

.arrayCard__button--secondary:hover {
  color: var(--indigo-600);
  background-color: var(--slate-300);
}

.arrayCard__button--secondary:active {
  color: var(--indigo-100);
  background-color: var(--indigo-500);
}

.arrayCard__button--active {
  color: var(--indigo-100);
  background-color: var(--indigo-500);
}

.arrayCard__button--active:hover {
  color: var(--indigo-50);
  background-color: var(--indigo-600);
}

/*
=============================================================
Icon
=============================================================
*/

.arrayCard__icon--sm {
  width: 1.6rem;
  height: 1.6rem;
}

.arrayCard__icon--md {
  width: 2.4rem;
  height: 2.4rem;
}

.arrayCard__icon--lg {
  width: 4rem;
  height: 4rem;
}

.arrayCard__icon--emerald-500 {
  color: var(--emerald-500);
}

.arrayCard__icon--red-500 {
  color: var(--red-500);
}

/*
=============================================================
Body (main content)
=============================================================
*/

.arrayCard__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--space-4);
  padding: var(--space-6) var(--space-16);
}

/*
=============================================================
Array pointers, values, and indicies
=============================================================
*/

.arrayCard__array {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.arrayCard__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.arrayCard__p {
  display: inline-block;
  border-top: 1px solid var(--indigo-500);
}

.arrayCard__p--margin-top {
  margin-top: 2rem;
}

.arrayCard__p--margin-top-8 {
  margin-top: 0.8rem;
}

/*
=============================================================
List
=============================================================
*/

.arrayCard__list {
  display: flex;
  position: relative;
}

.arrayCard__list--wrap {
  flex-wrap: wrap;
}

.arrayCard__list--gap-sm {
  gap: 0.4rem;
}

.arrayCard__list--gap-md {
  gap: 1.2rem;
}

/*
=============================================================
List items
=============================================================
*/

.arrayCard__item {
  display: flex;
  justify-content: center;
}

.arrayCard__item--size-sm {
  min-width: var(--space-16);
  min-height: var(--space-28);
}

.arrayCard__item--size-md {
  min-width: var(--space-44);
  min-height: var(--space-36);
}

.arrayCard__item--color {
  color: inherit;
  background-color: var(--slate-200);
}

.arrayCard__item--color-highlighted {
  color: var(--indigo-100);
  background-color: var(--indigo-500);
  animation: slateToPurple 0.3s linear;
}

.arrayCard__item--border {
  border: 1px solid var(--slate-800);
  border-radius: var(--space-6);
}

.arrayCard__item--border-none {
  border-radius: var(--space-6);
}

.arrayCard__item--border-bottom {
  border-bottom: 0.1rem solid var(--slate-800);
}

.arrayCard__item--align-items-start {
  align-items: flex-start;
}

.arrayCard__item--align-items-center {
  align-items: center;
}

.arrayCard__item--align-items-end {
  align-items: flex-end;
}

.arrayCard__item--position-top-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(44px);
}

/*
=============================================================
Animations
=============================================================
*/

@keyframes slateToPurple {
  0% {
    color: var(--slate-800);
    background-color: var(--slate-200);
  }
  100% {
    color: var(--indigo-100);
    background-color: var(--indigo-500);
  }
}
