.container {
  background-color: var(--white);
  border-radius: var(--space-10);
  padding: var(--space-6) var(--space-16);
  height: 40rem;
  width: 50rem;
}

.title {
  display: inline-block;
  font-weight: 500;
  letter-spacing: var(--space-1);
  border-bottom: var(--space-2) solid var(--indigo-500);
  margin-bottom: var(--space-20);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.argument {
  color: #14b8a6;
}

.function {
  color: var(--indigo-500);
}

.selectContainer {
  display: flex;
  gap: var(--space-10);
}

.dropDown {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border-bottom: var(--space-2) solid var(--indigo-500);
}

select option:focus {
  background-color: green;
  border-radius: 10px;
}
